<section class="dashboard">
  <div class="banner-container">
    <h2>Dashboard: {{ dashboardData?.type }}</h2>
    <img src="/dashboard-banner.jpg" alt="dashboard-banner.jpg" />
  </div>
  <!-- READ ONLY MODE START-->
  @if(!isEditMode){
  <ng-container>
    <div class="biography-container">
      <div class="left-side">
        <div class="profile-pic">
          <img src="/profile-icon.jpg" alt="profile-pic" />
        </div>
        <div class="social-links">
          <h2>Account Info:</h2>
          <p class="create-date">
            Created at:
            {{ (dashboardData?.created_at | date : "longDate") || "N/A" }}
          </p>
          <p class="themes">
            Articles: {{ dashboardData?.themes?.length || "N/A" }}
          </p>
          <p class="themes">
            Posts: {{ dashboardData?.posts?.length || "N/A" }}
          </p>
        </div>
      </div>
      <div class="right-side">
        <h2>{{ dashboardData?.username }}'s Bio:</h2>
        <div class="bio">
          <p>
            My name is bla bla Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Deleniti, cupiditate! 500 letters max. My name is
            bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deleniti, cupiditate! 500 letters max. My name is bla bla Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
            cupiditate! 500 letters max.
          </p>
        </div>
        <div class="profile-buttons">
          <a (click)="toggleEditMode()" class="edit-btn">Edit</a>
        </div>
      </div>
    </div>
  </ng-container>
  } @else {
  <ng-container>
    <app-edit-dashboard />
  </ng-container>
  }

  <!-- Blog Posts Section -->
  <div class="blog-posts">
    <h2>{{ dashboardData?.username }} Posts</h2>
    <div class="articles-container">
      <div class="article">
        <h3>Article 1</h3>
        <a href="#">Edit / Delete</a>
      </div>
      <div class="article">
        <h3>Article 2</h3>
        <a href="#">Edit / Delete</a>
      </div>
      <div class="article">
        <h3>Article 3</h3>
        <a href="#">Edit / Delete</a>
      </div>
      <a routerLink="/create-articles" class="add-article">
        <div class="article add-new">
          <h3>+ Create Article</h3>
        </div>
      </a>
    </div>
  </div>
  <!-- Signed-Up Clients Section -->
  <div class="signed-clients">
    <h2>Signed Clients</h2>
    <div class="clients-container">
      <div class="client"><img src="" alt="client" /></div>
      <div class="client"><img src="" alt="client" /></div>
      <div class="client"><img src="" alt="client" /></div>
      <div class="client"><img src="" alt="client" /></div>
      <div class="client"><img src="" alt="client" /></div>
    </div>
  </div>
</section>
