.dashboard {
  background-color: #151515;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}
/* banner */
.banner-container {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner-container h2 {
  font-size: 3.4em;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* dashboard biography style */
.biography-container {
  background-color: white;
  margin: 50px auto;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 40px;
}
.biography-container .left-side {
  display: flex;
  flex-direction: column;
}
.profile-pic img {
  width: 150px;
  border-radius: 50%;
}
.biography-container .right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-side .bio {
  padding: 20px 20px;
  width: 100%;
  max-width: 800px;
  background-color: #f9f9f9;
  border-left: 5px solid orangered; /* Adds a subtle accent */
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  overflow-wrap: break-word; /* Handles long text gracefully */
}
.right-side .bio p {
  margin: 0;
}
/* Buttons Styling */
.profile-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.edit-btn,
.cancel-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Edit Button */
.edit-btn {
  background-color: #00cc66;
  color: white;
  border: 2px solid transparent;
}

.edit-btn:hover {
  background-color: white;
  color: #00cc66;
  border: 2px solid #00cc66;
}

/* cancel Button */
.cancel-btn {
  background-color: #ff6666;
  color: white;
  border: 2px solid transparent;
}

.cancel-btn:hover {
  background-color: white;
  color: #ff6666;
  border: 2px solid #ff6666;
}

/* Blog Posts Section */
.blog-posts,
.signed-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.blog-posts h2 {
  color: white;
}
.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 60%;
}

.article,
.article .add-article {
  width: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.article:hover {
  transform: scale(1.05);
}

.add-new {
  align-items: center;
  background-color: #e0ffe5;
  border: 2px dashed #00cc66;
  cursor: pointer;
  display: flex; /* Center the text */
  height: 100%; /* Ensure height matches other articles */
  justify-content: center;
}

/* Signed-Up Clients Section */
.signed-clients {
  padding-bottom: 150px;
}
.clients-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.signed-clients h2 {
  color: white;
}
.client {
  border-radius: 50%;
  background-color: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  padding: 20px;
  width: 60px;
  height: 60px;
}
