<section class="hero-section">
  <div class="find-trainer">
    <h2>I'm a fitness enthusiasts.</h2>
    <p>
      Find the perfect personal trainer, nutritionist, or lifestyle coach to
      help you achieve your fitness goals and find your healthiest life.
    </p>
    <a href="#find-trainer">Find a trainer</a>
  </div>
  <div class="be-trainer">
    <h2>I'm a fitness professional.</h2>
    <p>
      Find your next client easily. Promote your profile where prospective
      clients discover and buy your services.
    </p>
    <a href="#be-trainer">Get listed</a>
  </div>
</section>
