<section class="theme-container">
  <article class="article-content">
    <div class="theme-header">
      <h1>{{ theme?.themeName }}</h1>
      <p class="theme-meta">
        Created by {{ theme?.username
        }}<span>{{ theme?.userId?.email }}</span> on
        <span>{{ formatDate | date : "dd-MM-yyyy" }}</span>
      </p>
    </div>
    <div class="img-container">
      <img [src]="theme?.imageUrl" alt="img-here" />
    </div>
    <div class="theme-info">
      <p>
        {{ theme?.articleData }}
      </p>
      <p><strong>Subscribers:</strong> {{ theme?.subscribers?.length || 0 }}</p>
      <p><strong>Posts:</strong> {{ theme?.posts?.length || 0 }}</p>
    </div>

    <div class="theme-posts">
      <h2>Comments</h2>
      <div class="no-comments">
        @if (theme?.posts?.length === 0) {
        <p>No comments yet.</p>
        }
      </div>
      <ul>
        @for (post of theme?.posts; track $index) {
        <li class="post-item">
          <div class="post-header">
            <strong>{{ post.userId.username }}</strong> created at
            <time>{{ post.created_at | date : "full" }}</time>
          </div>
          <div class="post-content">
            <p>{{ post.text }}</p>
          </div>
          <div class="post-likes">
            <p><span>❤️</span> {{ post.likes.length }} Likes</p>
          </div>
          <div class="btn-container">
            <button class="edit-btn" (click)="editComment(post._id, post.text)">
              Edit
            </button>
            <button class="delete" (click)="deleteComment(post._id)">
              Delete
            </button>
          </div>
        </li>
        }
      </ul>
    </div>
    <app-blog-comment (commentAdded)="refreshBlogData()"/>
  </article>
  <aside class="latest-content">
    <div class="latest-article">
      <h4>Latest Articles:</h4>
      <div class="article-list">
        @for (theme of latestThemes; track $index) {
        <p>{{ theme?.themeName }}</p>
        }
      </div>
    </div>
  </aside>
</section>
