.theme-container {
  background: #212121;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  margin: 0 auto;
  padding: 20px;
}
/* img container TO DO*/
.img-container {
  width: 400px;
}
.img-container img {
  width: 100%;
}
/* article content */
.article-content {
  flex: 0 0 50%;
}

.theme-header h1 {
  font-size: 2.2em;
  color: #fff;
  margin: 0;
}

.theme-header .theme-meta {
  font-size: 0.9em;
  color: #e4381c;
  margin-top: 5px;
}

.theme-info {
  margin-top: 20px;
  padding: 15px;
  background: #333;
  border-radius: 8px;
}

.theme-info p {
  margin: 5px 0;
  font-size: 1em;
}

.theme-posts {
  margin-top: 30px;
}

.theme-posts h2 {
  font-size: 1.5em;
  color: #e4381c;
  margin-bottom: 15px;
}

.theme-posts ul {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 20px;
  padding: 20px;
  background: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  font-size: 1.1em;
  color: #fff;
}

.post-header a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.post-header a:hover {
  color: #e4381c;
}

.post-content {
  margin-top: 10px;
  font-size: 1em;
  color: #fff;
}

.post-likes {
  margin-top: 10px;
  font-size: 0.9em;
  color: #e4381c;
}

.post-likes p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-likes span {
  font-size: 1.2em;
}

/* General Link Styling */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #e4381c;
}

/* latest content */
.latest-content {
  background: #333;
  margin-top: 90px;
  max-height: 30vh;
  padding: 15px;
  flex: 0 1 10%;
}
.latest-article {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
