<section class="sign-up-section">
  <div class="form-container">
    <h2>Create Your Account</h2>
    <form action="#" method="POST" class="sign-up-form">
      <div class="form-field">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          autocomplete="name"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          autocomplete="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="form-field">
        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          autocomplete="confirm-password"
          placeholder="Confirm your password"
          required
        />
      </div>
      <div class="form-field account-type">
        <p>Select Account Type:</p>
        <div class="account-options">
          <label>
            <input type="radio" name="account-type" value="client" required />
            <span class="custom-radio">Client</span>
          </label>
          <label>
            <input type="radio" name="account-type" value="trainer" required />
            <span class="custom-radio">Trainer</span>
          </label>
        </div>
      </div>
      <div class="form-btns">
        <button type="submit" class="sign-up-btn">Sign Up</button>
      </div>
      <div class="login-message">
        Already registered? <a routerLink="/login" class="login-link">Log in</a>
      </div>
    </form>
  </div>
  <div class="image-container">
    <img
      src="https://img.freepik.com/premium-photo/fitness-trainer-demonstrating-new-exercise-client-gym_1314467-200090.jpg"
      alt="default.png"
    />
  </div>
</section>
