<header>
  <div class="logo-container">
    <a href="#home">
      <img src="/logo.png" alt="logo.png" />
    </a>
  </div>
  <div class="nav-items">
    <nav>
      <ul>
        <li><a href="#home">Dashboard</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#trainers">Trainers</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="nav-sign-up">
    <nav>
      <ul>
        <li><a href="#sign-in" class="primary-btn">Sign-in</a></li>
        <li><a href="#sign-up">Get Started</a></li>
      </ul>
    </nav>
  </div>
</header>
