/* Header section */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #151515;
  padding: 10px 50px;
  color: #fff;
}

/* Logo container */
.logo-container {
  flex-shrink: 0;
}

.logo-container img {
  width: 100px;
}

/* Navigation menu - center it */
.nav-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.nav-items nav ul {
  display: flex;
  gap: 30px; /* Space between nav items */
}

/* Sign-up menu */
.nav-sign-up {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.user-profile {
  align-content: center;
  font-size: 1.2em;
  font-weight: 600;
}
/* Utility styles for navigation links */
.nav-items a {
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-items a:hover {
  color: #e4381c;
}

.nav-items a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e4381c;
  transition: width 0.3s ease-in-out;
}

.nav-items a:hover::after {
  width: 100%;
}
.nav-sign-up nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Button styles in sign-up menu */
.nav-sign-up .btn {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(to right, #e4381c, #e16521);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover effect */
.nav-sign-up .btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #e16521, #e4381c);
  border-color: #e4381c;
}

/* Specific Button Styling */
.sign-btn {
  background-color: transparent;
}

.register-btn {
  background-color: transparent;
}

.logout-btn {
  background-color: transparent;
}
