/* Header section */
header {
  background-color: #1a1919;
  color: #fff;
  padding: 0 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80px;
}
header .logo-container img {
  width: 100px;
}
/* user profile name*/
.user-profile {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
/* user profile ends*/

header .menu-container {
  display: flex;
}
/* nav menu */
.nav-items {
  margin: auto;
  display: flex;
  justify-content: center;
}
header .nav-items a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e4381c;
  transition: width 0.3s ease-in-out;
}
header .nav-items a:hover {
  color: #e4381c;
}
.nav-items > nav ul,
.nav-sign-up > nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .nav-items a:hover::after {
  width: 100%;
}

header .nav-sign-up a:nth-child(1) {
  background-color: transparent;
  border: 2px solid #e4381c;
}
header .nav-sign-up a:nth-child(1):hover {
  background-color: #e4381c;
  color: #fff;
}
header .nav-items a {
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
header .nav-sign-up a {
  font-size: 1.5em;
  font-weight: 700;
  color: #e4381c;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
