<header>
  <div class="logo-container">
    <a routerLink="/home">
      <img src="/logo.png" alt="logo.png" />
    </a>
  </div>
  <div class="nav-items">
    <nav>
      <ul>
        @if(isLoggedIn){
        <li><a routerLink="/dashboard">Dashboard</a></li>
        }
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/trainer">Trainers</a></li>
        <li><a routerLink="/blogs">Blogs</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="nav-sign-up">
    <nav>
      <ul>
        @if (isLoggedIn) {
        <li class="user-profile">User: {{ userName }}</li>
        <li>
          <a (click)="logout()" class="btn logout-btn">Logout</a>
        </li>
        } @else {
        <li><a routerLink="/login" class="btn sign-btn">Sign-in</a></li>
        <li>
          <a routerLink="/register" class="btn register-btn">Get Started</a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
