/* About Us Section */
.about-us {
  background-color: #1a1919;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 100px;
}
/* banner */
.banner-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner-container h2 {
  font-size: 2.6em;
  text-transform: uppercase;
  color: white;
  position: absolute; /* Position the h2 absolutely */
  top: 50%; /* Move the h2 to 50% from the top of the container */
  left: 50%; /* Move the h2 to 50% from the left of the container */
  transform: translate(-50%, -50%); /* Center the h2 by translating it back by 50% of its height and width */
  text-align: center; /* Optional: Centers the text if it spans multiple lines */
}
.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* content container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.container h2 {
  color: white;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.container p {
  color: orangered;
  font-size: 1.2em;
}
/* about img */
.about-image img {
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* about content */
.about-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.about-content h3 {
  color: white;
}
.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: white;
}
.about-content p strong {
  color: orangered;
}

/* text containers */
.about-us-container,
.our-team-container {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-container h3,
.our-team-container h3 {
  font-size: 1.6em;
}
