<section class="about-us">
  <div class="container">
    <div class="about-image">
      <img
        src="https://st3.depositphotos.com/13194036/19437/i/450/depositphotos_194373930-stock-photo-personal-trainer-clipboard-doing-thumb.jpg"
        alt="Fitness Team"
      />
    </div>
    <div class="about-content">
      <h1>About Us</h1>
      <p>
        Welcome to <strong>Train With Me Platform</strong>! We are passionate
        about empowering individuals to achieve their fitness goals and live a
        healthier, happier life. Connecting both trainers and their future
        clients.
      </p>
      <p>
        Our team of certified trainers and nutrition experts is dedicated to
        providing personalized guidance, cutting-edge workout plans, and a
        supportive community to keep you motivated. Whether you're a beginner or
        an experienced athlete, we're here to help you every step of the way.
      </p>
      <p>
        Join us today and start your journey toward a stronger, more confident
        you!
      </p>
    </div>
  </div>
</section>
