/* Blog Posts Section */
.blog-posts,
.signed-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.blog-posts h2 {
  color: white;
}
.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.article h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 800;
}
.article,
.article .add-article {
  width: 250px;
  padding: 20px;
  background-color: #2f2f2f;
  box-shadow: rgba(247, 113, 36, 0.1) 0px 4px 10px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.article:hover {
  transform: scale(1.05);
}

.add-new {
  align-items: center;
  background-color: orangered;
  border: 2px dashed #2f2f2f;
  box-shadow: rgba(247, 113, 36, 0.1);
  cursor: pointer;
  display: flex; /* Center the text */
  height: 100%; /* Ensure height matches other articles */
  justify-content: center;
}

/* Style for Edit and Delete buttons */
.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.edit-btn,
.delete-btn {
  font-size: 12px;
  padding: 5px 10px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #e68900; /* Darker orange on hover */
  color: #fff; /* Ensure text remains white */
}

.delete-btn {
  background-color: #ff9800;
}

.delete-btn:hover {
  background-color: #ff9800;
}
