<!-- Blog Posts Section -->
<div class="blog-posts">
  <h2>{{ dashboardData?.username }}'s Articles Posted</h2>
  <div class="articles-container">
    @for (article of userArticles; track $index) {
    <div class="article">
      <h3>{{ article.themeName }}</h3>
      <div class="btns-container">
        <button class="edit-btn" routerLink="/edit-article">Edit</button>
        <button class="delete-btn" (click)="onDelete(article._id)">
          Delete
        </button>
      </div>
    </div>
    }
    <a routerLink="/create-articles" class="add-article">
      <div class="article add-new">
        <h3>+ Create Article</h3>
      </div>
    </a>
  </div>
</div>
