<section class="welcome-section">
  <div class="welcome-container">
    <div class="welcome-text">
      <h2>Welcome to Train With Me</h2>
      <h3>
        Train With Me is a revolutionary platform that brings together personal
        trainers and clients to achieve their fitness goals.
      </h3>
      <p>
        Success in fitness doesn't have to be complicated. There's a growing
        community of individuals who are ready to take their fitness to the next
        level, but they need the right guidance. Whether you're a client looking
        for the perfect trainer or a trainer eager to share your expertise,
        Train With Me is the place where serious fitness enthusiasts come to
        succeed.
      </p>
    </div>
    <div class="cta-btn">
      <a routerLink="/404">Learn More</a>
    </div>
  </div>
  <div class="image-container">
    <img src="/welcome-msg.jpg" alt="welcome-msg.jpg" />
  </div>
</section>
