<section class="blog-posts">
  <h2>Articles</h2>
  <div class="blog-container">
    <div class="blog-post">
      <img src="./images/blogpost.jpg" alt="blog-post" />
    </div>
    <div class="blog-title">
      <h2>Blog Title1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, dolor.
      </p>
    </div>
  </div>
  <div class="blog-container">
    <div class="blog-post">
      <img src="./images/blogpost.jpg" alt="blog-post" />
    </div>
    <div class="blog-title">
      <h2>Blog Title2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, dolor.
      </p>
    </div>
  </div>
  <div class="blog-container">
    <div class="blog-post">
      <img src="./images/blogpost.jpg" alt="blog-post" />
    </div>
    <div class="blog-title">
      <h2>Blog Title3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, dolor.
      </p>
    </div>
  </div>
</section>
