<section class="contact-section">
  <div class="banner-container">
    <h2>Contact Us</h2>
    <img src="/contact-us.jpg" alt="contact-us.jpg" />
  </div>
  <div class="content">
    <div class="left-container">
      <div class="information-container">
        <h4>Information</h4>
        <ul>
          <li><i class="fa fa-phone"></i> (12)-100-100-100</li>
          <li><i class="fa fa-envelope"></i> email-here</li>
        </ul>
      </div>
      <div class="address-container">
        <h4>Address</h4>
        <ul>
          <li><i class="fa fa-map-marker"></i> Dobrich, Bulgaria</li>
        </ul>
      </div>
    </div>
    <div class="right-container">
      <div class="contact-form">
        <h4>Get in touch</h4>
        <form class="form-container">
          <div class="details-container">
            <div class="name-container">
              <input type="text" placeholder="Name" />
            </div>
            <div class="email-container">
              <input type="text" placeholder="Email" />
            </div>
          </div>
          <div class="msg-container">
            <textarea placeholder="Message"></textarea>
            <button type="submit" class="message-btn">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-start-now />
