/*-- ad section --*/
.ad-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 150px;
}
.ad-section .ad-section-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 20px;
  gap: 30px;
}
.ad-section h2 {
  font-size: 3em;
}
.ad-section-content p:first-of-type {
  font-weight: 600;
}
.ad-section p {
  font-size: 1.4em;
}
.ad-section-content a {
  margin-top: 50px;
  font-weight: 800;
  font-size: 1.5em;
  background-color: orange;
  text-align: center;
  padding: 15px 40px;
  border-radius: 5px;
  width: 60%;
}
.ad-section-image-content {
  align-content: center;
}
