<section class="ad-section">
  <div class="ad-section-content">
    <h2>Where personal coaches and clients come together.</h2>
    <p>
      TrainWithMe is a quickest way to find a personal trainer that fits your
      goals.
    </p>
    <p>
      Browse profiles of fitness professionals around the world, view their
      certifications, explore their specialities, and sign up for their services
      in seconds.
    </p>
    <a href="#see-how-it-works">See How It Works</a>
  </div>
  <div class="ad-section-image-content">
    <img src="/mobile-app.png" alt="coaches-clients-image" />
  </div>
</section>
