<section class="trainer-type">
  <h2>Train your way</h2>
  <div class="gallery-trainer-type">
      <a href="#Crossfit">
          <div class="gallery-trainer-item">Crossfit</div>
      </a>
      <a href="#Yoga">
          <div class="gallery-trainer-item">Yoga</div>
      </a>
      <a href="#Bodybuilding">
          <div class="gallery-trainer-item">Bodybuilding</div>
      </a>
      <a href="#Endurance">
          <div class="gallery-trainer-item">Endurance</div>
      </a>
      <a href="#Crossfit">
          <div class="gallery-trainer-item">Crossfit</div>
      </a>
      <a href="#Yoga">
          <div class="gallery-trainer-item">Yoga</div>
      </a>
      <a href="#Bodybuilding">
          <div class="gallery-trainer-item">Bodybuilding</div>
      </a>
      <a href="#Endurance">
          <div class="gallery-trainer-item">Endurance</div>
      </a>
      <a href="#Bodybuilding">
          <div class="gallery-trainer-item">Bodybuilding</div>
      </a>
      <a href="#Endurance">
          <div class="gallery-trainer-item">Endurance</div>
      </a>
  </div>
</section>
