<section class="creators">
  <h2>Creators</h2>
  <div class="creators-list">
    <div class="creators-item">
      <img src="/pt-profile.jpeg" alt="profile-pic" />
      <h3>Trainer MockUp1</h3>
      <p>Private Personal Trainer</p>
    </div>
    <div class="creators-item">
      <img src="" alt="profile-pic" />
      <h3>Trainer MockUp2</h3>
      <p>Private Personal Trainer</p>
    </div>
    <div class="creators-item">
      <img src="" alt="profile-pic" />
      <h3>Trainer MockUp3</h3>
      <p>Private Personal Trainer</p>
    </div>
    <div class="creators-item">
      <img src="" alt="profile-pic" />
      <h3>Trainer MockUp4</h3>
      <p>Private Personal Trainer</p>
    </div>
    <div class="creators-item">
      <img src="" alt="profile-pic" />
      <h3>Trainer MockUp5</h3>
      <p>Private Personal Trainer</p>
    </div>
  </div>
  <div class="browse-coaches">
    <a href="#browse-coaches">Browse Coaches</a>
  </div>
</section>
