<footer>
  <div class="footer-container">
      <div class="footer-links">
          <ul>
              <li><a href="#privacy-policy">Privacy Policy</a></li>
              <li><a href="#terms-of-service">Terms of Service</a></li>
              <li><a href="#contact">Contact Info</a></li>
          </ul>
      </div>
      <div class="footer-social">
          <ul>
              <li>
                  <a href="https://facebook.com" target="_blank">Facebook</a>
              </li>
              <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
              <li>
                  <a href="https://instagram.com" target="_blank">Instagram</a>
              </li>
          </ul>
      </div>
      <div class="footer-text">
          <p>&copy; 2024 TWM. All Rights Reserved. Powered by Angular.</p>
      </div>
  </div>
</footer>