footer {
  background-color: #151515;
  color: white;
  display: flex;
  flex-direction: column;
}
/* top container */
.footer-top-container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 30vh;
}
.cta-train {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.cta-train .logo-container {
  width: 100px;
}
.cta-train p {
  width: 70%;
  font-size: 1.2em;
  color: #66696f;
}
.text-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* follow us links */
.follow-us-links {
  display: flex;
  gap: 10px;
}
/* footer links */
.footer-links {
  padding-top: 20px;
}
.footer-links .working-hours,
.footer-links .get-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-links .programs,
.programs ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* logo */
.logo-container img {
  width: 100%;
}
/* right side */
.footer-links {
  display: flex;
  gap: 20px;
}
/* bottom container */
.footer-bottom-container {
  background-color: #000000;
}
.footer-bottom-container .footer-text {
  padding: 15px 0;
  color: white;
  font-weight: 500;
  text-align: center;
}
